header {
  background-color: #ffffff;
  text-align: center;
  padding: 20px;
  background: url("images/hblogo].png") left top;
    background-repeat: no-repeat;
  background-size: 15%
}

header h1 {
  font-family: lemonde-courrier, serif;
  font-weight: 400;
  font-style: normal;
  color: #191970
}

div {
	background: url("images/bee.png");
	background-repeat: no-repeat;
    background-size: contain;
}

/* The navbar container */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #191970;
}

ul li {
  background: #8A2BE2;
  margin-left: 140px
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #C71585;
}

article{
  background-color: #c0c0c0
  text-align: center;

}

  footer{
  	text-align: center;
  	clear:both;
  	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";

  }

  nav a:link {
  font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    color:rgba(104,104,104,.75);
    text-decoration: none;
  }

  nav a:hover {
    color: #ffffff;
  }

  .left {
    float: left;
  }
  .right{
    float: right;
  }
